/* Desktop default */
.book-menu {
  display: block;
  opacity: 1;
  /* remove transform: translateX(0) !important; */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  padding: 1rem;
  overflow-y: auto;
}

/* Page content offset for desktop */
.book-page {
  margin-left: 300px;
}

/* Mobile */
@media screen and (max-width: 56rem) {
  .book-menu {
    width: 80%;
    max-width: 300px;
    /* remove any !important transforms */
  }

  .book-page {
    margin-left: 0;
  }
}
